{% extends 'base.html' %}

{% block title %}Změna hesla{%  endblock %}

{%  block content %}
    <br>
    <h2 class="text-center"> Změna hesla</h2>
    <br>

    <div  class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'accounts:change_password' %}">
        {% csrf_token %}

        {% if form.errors %}
              <div class="alert alert-warning" role="alert">
                     <button class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                     </button>
                Některá pole nebyla vyplněna správně
                <br>
              {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
              {%  endfor %}
              </div>


            <br>
        {%  endif %}


        {{ form.as_p}}

        <br>
      <button type="submit" class="btn btn-secondary">Změnit heslo</button>
    </form>
    </div>

{% endblock %}
