{% extends 'base.html' %}

{% block title %}Ediace profilu{%  endblock %}

{%  block content %}
    <br>
    <h2 class="text-center"> Změna údajů</h2>
    <br>

    <div  class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'accounts:edit_profile' %}">
        {% csrf_token %}

        {% if form.errors %}
              <div class="alert alert-warning" role="alert">
                     <button class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                     </button>
                Některá pole nebyla vyplněna správně

              {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
              {%  endfor %}
              </div>


            <br>
        {%  endif %}

        {{ form.as_p}}
              <div class="from-text mb-3">
          <p>Pro změnu hesla klikněte <a href="{% url 'accounts:change_password' %}">zde</a>.</p>
      </div>
        <br>
      <button type="submit" class="btn btn-secondary">Uložit změny</button>
    </form>
    </div>

{% endblock %}
