{% extends "base.html" %}

{% block title %}{{ club.name}} zápasy{% endblock %}

{% block content %}
    <h1>{{ club.name}} zápasy</h1>
    <br>
    <form>
{% for team in teams %}
    {% if forloop.counter == 1 %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
                {{ team.squad }}
            </label>
        </div>
    {% else %}
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1">
                {{ team.squad }}
            </label>
        </div>
    {% endif %}


    {% endfor %}

    <button type="submit" class="btn btn-secondary btn-sm">Vybrat</button>
    </form>


<div class="btn-group">
<h5>tym<h5>
    {% for team in teams %}
  <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked />
  <label class="btn btn-secondary" for="option1">{{ team.squad }}</label>

    {% endfor %}

</div>


    <br>
    {{ team }}
    <br>

    {% for game in games %}
        {{ game }}
        <br>
    {% endfor %}


{%  endblock %}
