{% extends "base.html" %}

{% load static %}
{% block title %}Footac{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12 offset-md-0">
            <img src="{% static 'img/footac/Footac_logo_middle.png' %}" alt="" width="150"
                 class="d-inline-block align-text-top">
            <p>Vážení návštěvníci,</p>
            <p>Děkujeme za Váš zájem o službu Footac. Omlouváme se, ale aplikace je momentálně ve vývoji a není ještě
                oficiálně spuštěna. Pokud máte přihlašovací údaje testování alfa verze projektu, prosím
                přihlašte se.</p>

        </div>
    </div>

{% endblock %}
