{% extends "base.html" %}

{%  load custom_tags %}

{% block title %}{{ club}} akce{% endblock %}

{% block content %}
 <h3>Akce týmu {{ team }}</h3>
    <br>

<div  class="col-md-11 offset-md-1">
<form>
{{ action_filter.form }}
<button type="submit">Filter</button>
</form>
    </div>

    <br>
    <div class="container">
    <div class="table-responsive-md">
    <table class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th>sleduj</th>
            <th>zápas</th>
            <th>čas</th>
            <th>typ</th>
            <th>podtyp</th>
            <th>tým</th>
            <th>hráč</th>
            <th>pas. hráč</th>
            <th>pozice</th>
        </tr>
        </thead>
        {% for action in action_filter.qs %}
        <tr>
            <td>
                {% if action.game.link_1 %}
                    {% start_end_video action.game.link_1 action.video_time action.type.name as link1 %}
                    <a href ="{{ link1 }}">Ytb</a>
                {% endif %}
{#            # TODO for Vimeo and Other link function tag can be different#}
                {% if action.game.link_2 %}
                    {% start_end_video action.game.link_2 action.video_time action.type.name as link2 %}
                    <a href ="{{ link2}}">Vim</a>
                {% endif %}
                {% if action.game.link_2 %}
                    {% start_end_video action.game.link_3 action.video_time action.type.name as link3 %}
                    <a href ="{{ link3 }}">Oth</a>
                {% endif %}

            </td>
            <td>{{ action.game.home_team.abbrev}} vs. {{ action.game.away_team.abbrev}}</td>
            <td>{{ action.display_time }}</td>
            <td>{{ action.type.name_cz }}</td>
            <td>{% if action.subtype %}{{ action.subtype }}{% endif %}</td>
            <td>{{ action.team.abbrev }}</td>
            <td>{% if action.active_player %}{{ action.active_player}}{% endif %}</td>
            <td>{% if action.start_x and action.start_y%}{{action.start_x}},{{action.start_y}}{% endif %}</td>
            <td>{% if action.passive_player %}{{ action.passive_player}}{% endif %}</td>
            <td>edit</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>
<br>


{% endblock %}
