{% extends "base.html" %}

{%  load custom_tags %}

{% block title %}{{team}} akce{% endblock %}

{% block content %}
 <h3 class="text-center">Akce týmu {{ team }}</h3>
    <br>

<div  class="col-md-11 offset-md-1">
<form method="GET">
{{ action_filter.form.as_table }}
<button type="submit" class="btn btn-secondary btn-sm">Filter</button>
</form>
    </div>

    <br>
    <div class="container">

    {% if page_results %}
        <small class="text-muted">Akce {{ page_results.start_index }} až {{ page_results.end_index }} z {{ page_results.paginator.count }}.</small>
    {% else %}
        <small class="text-muted">Žádné akce k zobrazení.</small>
    {% endif %}
    <div class="table-responsive-md">
    <table class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th>sleduj</th>
            <th>zápas</th>
            <th>čas</th>
            <th>typ</th>
            <th>podtyp</th>
            <th>tým</th>
            <th>hráč</th>
            <th>pas. hráč</th>
            <th>pozice</th>
        </tr>
        </thead>
        {% for action in page_results %}
        <tr>
            <td>
                {% if action.game.link_1 %}
                    {% start_end_video action.game.link_1 action.video_time action.type.name as link1 %}
                    <a href ="{{ link1 }}">Ytb</a>
                {% endif %}
{#            # TODO for Vimeo and Other link function tag can be different#}
                {% if action.game.link_2 %}
                    {% start_end_video action.game.link_2 action.video_time action.type.name as link2 %}
                    <a href ="{{ link2}}">Vim</a>
                {% endif %}
                {% if action.game.link_3 %}
                    {% start_end_video action.game.link_3 action.video_time action.type.name as link3 %}
                    <a href ="{{ link3 }}">Oth</a>
                {% endif %}

            </td>
            <td>{{ action.game.home_team.abbrev}} vs. {{ action.game.away_team.abbrev}}</td>
            <td>{{ action.display_time }}</td>
            <td>{{ action.type.name_cz }}</td>
            <td>{% if action.subtype %}{{ action.subtype }}{% endif %}</td>
            <td>{{ action.team.abbrev }}</td>
            <td>{% if action.active_player %}{{ action.active_player}}{% endif %}</td>
            <td>{% if action.passive_player %}{{ action.passive_player}}{% endif %}</td>
            <td>{% if action.start_x and action.start_y%}{{action.start_x}},{{action.start_y}}{% endif %}</td>
{#        TODO check user allowance#}
            <td><a href ="{%  url 'actions:action_edit' action.id %}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% if page_results.has_other_pages %}
    <div class="btn-group" role="group" aria-label="Item pagination">
        {% if page_results.has_previous %}
            <a href="{% update_url 1 'page' request.GET.urlencode %}" class="btn btn-outline-secondary">|&laquo;</a>
            <a href="{% update_url page_results.previous_page_number 'page' request.GET.urlencode %}" class="btn btn-outline-secondary">&laquo;</a>
        {% endif %}

        {% for page_number in page_results.paginator.page_range %}
            {% if page_results.number == page_number %}
                <button class="btn btn-outline-secondary active">
                    <span>{{ page_number }} <span class="sr-only"></span></span>
                </button>
            {% elif page_number|add:'4' >= page_results.number and page_number|add:'-6' <= page_results.number%}
                   <a href="{% update_url page_number 'page' request.GET.urlencode %}" class="btn btn-outline-secondary">{{ page_number }}</a>
            {% endif %}
        {% endfor %}

        {% if page_results.has_next %}
            <a href="{% update_url page_results.next_page_number 'page' request.GET.urlencode %}" class="btn btn-outline-secondary">&raquo;</a>
            <a href="{% update_url page_results.paginator.num_pages 'page' request.GET.urlencode %}" class="btn btn-outline-secondary">&raquo;|</a>
        {% endif %}

    {% endif %}
    </div>
    </div>


{% endblock %}
